In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
df  = pd.read_csv('/content/Train data for Mobile Price Prediction.csv')

In [13]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [14]:
df['price_range'].value_counts()

1    500
2    500
3    500
0    500
Name: price_range, dtype: int64

In [15]:
df.corr().loc[:,'price_range']

battery_power    0.200723
blue             0.020573
clock_speed     -0.006606
dual_sim         0.017444
fc               0.021998
four_g           0.014772
int_memory       0.044435
m_dep            0.000853
mobile_wt       -0.030302
n_cores          0.004399
pc               0.033599
px_height        0.148858
px_width         0.165818
ram              0.917046
sc_h             0.022986
sc_w             0.038711
talk_time        0.021859
three_g          0.023611
touch_screen    -0.030411
wifi             0.018785
price_range      1.000000
Name: price_range, dtype: float64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [17]:
x = df.iloc[: , :-1]

In [18]:
x

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1
1997,1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0
1998,1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1
1999,510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1

In [19]:
y= df.iloc[: , -1]

In [20]:
y = pd.get_dummies(y)

In [21]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 0)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
ss = StandardScaler()
x_train = ss.fit_transform(x_train)
x_test = ss.transform(x_test)

In [24]:
x_train = pd.DataFrame(x_train)
x_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.001608,-0.965592,1.671035,0.983880,-0.748114,0.976525,-0.430667,-0.692543,0.852842,0.216380,1.183752,-0.660982,-1.042159,-0.786095,0.882404,0.951809,0.911171,0.564840,-0.986343,-1.025320
1,1.374075,-0.965592,-1.270550,0.983880,1.810037,-1.024039,0.119443,0.693843,0.084708,-1.543255,1.018941,-0.773314,0.655005,-0.952286,-1.032614,-1.324225,-0.183466,-1.770414,-0.986343,-1.025320
2,1.039205,-0.965592,0.690506,-1.016384,-0.050436,0.976525,-1.640908,1.387036,-0.939471,-1.543255,1.183752,2.794355,1.482833,1.555428,-0.793236,-0.641415,-0.730784,0.564840,1.013846,0.975305
3,-1.639756,-0.965592,-0.902852,-1.016384,0.647241,0.976525,0.559530,-0.692543,-1.280863,-1.543255,-0.299543,-1.384401,-1.623253,-1.337588,0.164273,1.407015,-0.730784,0.564840,-0.986343,-1.025320
4,-0.578580,1.035635,1.548469,0.983880,-0.515555,-1.024039,0.174453,0.347246,0.739044,-1.103346,0.854131,1.902438,1.385984,1.495079,1.600536,-0.641415,-0.183466,-1.770414,1.013846,0.975305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,-0.019709,1.035635,0.077676,-1.016384,1.112359,-1.024039,0.064432,1.733633,0.511449,-1.543255,1.348562,-0.299272,-1.609417,1.571211,-0.553859,-0.186208,0.363853,0.564840,1.013846,-1.025320
1596,-0.169043,-0.965592,-1.025418,0.983880,-0.748114,0.976525,-0.155612,0.693843,-0.455831,-1.103346,1.678183,-0.773314,1.233793,-0.521490,1.121782,0.724205,0.728731,0.564840,-0.986343,0.975305
1597,-0.096639,-0.965592,0.567940,0.983880,-0.980673,-1.024039,0.449508,-1.039140,-1.309313,0.216380,-1.453217,1.671033,0.887904,1.398522,0.164273,0.268999,-0.365905,-1.770414,-0.986343,0.975305
1598,-0.094376,-0.965592,1.058205,0.983880,-0.515555,-1.024039,-1.035787,1.387036,0.852842,-1.543255,-0.464354,-1.069871,1.272994,-0.998708,0.403650,0.041395,-0.548344,0.564840,1.013846,0.975305
1599,-1.191754,-0.965592,-1.270550,-1.016384,2.042596,0.976525,-0.045590,-1.385736,-0.882572,-0.663437,1.513373,-0.252093,-0.744694,0.292751,-1.032614,0.268999,-1.278102,0.564840,-0.986343,0.975305

In [25]:
import tensorflow.keras as keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [26]:
model = Sequential()

In [27]:
model.add(Dense(units = 20 ,activation = 'relu' , input_shape = (20,) ,kernel_initializer = 'he_uniform'))
model.add(Dropout(0.2))
model.add(Dense(units=15 , activation ='relu',kernel_initializer ='he_uniform'))
model.add(Dropout(0.2))
model.add(Dense(units=4 , activation ='Softmax'))

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                420

 dropout (Dropout)           (None, 20)                0

 dense_1 (Dense)             (None, 15)                315

 dropout_1 (Dropout)         (None, 15)                0

 dense_2 (Dense)             (None, 4)                 64

=================================================================
Total params: 799
Trainable params: 799
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.compile(optimizer= 'adam' , loss='categorical_crossentropy', metrics =['accuracy'])

In [30]:
model.fit(x_train,y_train , validation_split =0.3 ,batch_size =10 ,epochs = 100)

Epoch 1/100
112/112 [==============================] - 6s 5ms/step - loss: 1.7929 - accuracy: 0.2232 - val_loss: 1.5054 - val_accuracy: 0.2583
Epoch 2/100
112/112 [==============================] - 1s 4ms/step - loss: 1.5727 - accuracy: 0.2643 - val_loss: 1.3948 - val_accuracy: 0.3104
Epoch 3/100
112/112 [==============================] - 0s 4ms/step - loss: 1.4392 - accuracy: 0.3000 - val_loss: 1.3184 - val_accuracy: 0.3750
Epoch 4/100
112/112 [==============================] - 0s 4ms/step - loss: 1.3562 - accuracy: 0.3527 - val_loss: 1.2370 - val_accuracy: 0.4479
Epoch 5/100
112/112 [==============================] - 0s 4ms/step - loss: 1.2560 - accuracy: 0.4161 - val_loss: 1.1306 - val_accuracy: 0.5188
Epoch 6/100
112/112 [==============================] - 0s 4ms/step - loss: 1.1484 - accuracy: 0.4679 - val_loss: 1.0009 - val_accuracy: 0.5833
Epoch 7/100
112/112 [==============================] - 0s 4ms/step - loss: 1.0470 - accuracy: 0.5054 - val_loss: 0.8944 - val_accuracy: 0.6354
Epoch 8/100
112/112 [==============================] - 0s 4ms/step - loss: 0.9677 - accuracy: 0.5509 - val_loss: 0.8000 - val_accuracy: 0.6854
Epoch 9/100
112/112 [==============================] - 1s 6ms/step - loss: 0.8850 - accuracy: 0.5741 - val_loss: 0.7189 - val_accuracy: 0.7354
Epoch 10/100
112/112 [==============================] - 1s 6ms/step - loss: 0.8061 - accuracy: 0.6339 - val_loss: 0.6591 - val_accuracy: 0.7729
Epoch 11/100
112/112 [==============================] - 1s 6ms/step - loss: 0.7631 - accuracy: 0.6393 - val_loss: 0.6049 - val_accuracy: 0.7854
Epoch 12/100
112/112 [==============================] - 1s 5ms/step - loss: 0.7168 - accuracy: 0.6687 - val_loss: 0.5586 - val_accuracy: 0.8375
Epoch 13/100
112/112 [==============================] - 0s 4ms/step - loss: 0.6869 - accuracy: 0.6902 - val_loss: 0.5223 - val_accuracy: 0.8500
Epoch 14/100
112/112 [==============================] - 0s 4ms/step - loss: 0.6554 - accuracy: 0.7125 - val_loss: 0.4929 - val_accuracy: 0.8625
Epoch 15/100
112/112 [==============================] - 0s 4ms/step - loss: 0.6146 - accuracy: 0.7250 - val_loss: 0.4649 - val_accuracy: 0.8562
Epoch 16/100
112/112 [==============================] - 0s 4ms/step - loss: 0.5952 - accuracy: 0.7518 - val_loss: 0.4469 - val_accuracy: 0.8646
Epoch 17/100
112/112 [==============================] - 0s 4ms/step - loss: 0.5834 - accuracy: 0.7688 - val_loss: 0.4191 - val_accuracy: 0.8896
Epoch 18/100
112/112 [==============================] - 0s 4ms/step - loss: 0.5263 - accuracy: 0.7830 - val_loss: 0.3970 - val_accuracy: 0.8813
Epoch 19/100
112/112 [==============================] - 0s 4ms/step - loss: 0.5138 - accuracy: 0.7661 - val_loss: 0.3774 - val_accuracy: 0.8854
Epoch 20/100
112/112 [==============================] - 0s 4ms/step - loss: 0.5011 - accuracy: 0.7759 - val_loss: 0.3715 - val_accuracy: 0.8833
Epoch 21/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4930 - accuracy: 0.8009 - val_loss: 0.3573 - val_accuracy: 0.8813
Epoch 22/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4649 - accuracy: 0.7991 - val_loss: 0.3438 - val_accuracy: 0.8979
Epoch 23/100
112/112 [==============================] - 1s 5ms/step - loss: 0.4749 - accuracy: 0.7964 - val_loss: 0.3380 - val_accuracy: 0.8938
Epoch 24/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4504 - accuracy: 0.8152 - val_loss: 0.3224 - val_accuracy: 0.8958
Epoch 25/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4556 - accuracy: 0.8107 - val_loss: 0.3154 - val_accuracy: 0.8917
Epoch 26/100
112/112 [==============================] - 1s 4ms/step - loss: 0.4229 - accuracy: 0.8295 - val_loss: 0.3070 - val_accuracy: 0.8938
Epoch 27/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4318 - accuracy: 0.8134 - val_loss: 0.3059 - val_accuracy: 0.8938
Epoch 28/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4220 - accuracy: 0.8161 - val_loss: 0.3141 - val_accuracy: 0.8833
Epoch 29/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3904 - accuracy: 0.8438 - val_loss: 0.2856 - val_accuracy: 0.9083
Epoch 30/100
112/112 [==============================] - 0s 4ms/step - loss: 0.4128 - accuracy: 0.8295 - val_loss: 0.2925 - val_accuracy: 0.8875
Epoch 31/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3678 - accuracy: 0.8625 - val_loss: 0.2779 - val_accuracy: 0.9062
Epoch 32/100
112/112 [==============================] - 1s 5ms/step - loss: 0.3757 - accuracy: 0.8464 - val_loss: 0.2768 - val_accuracy: 0.9062
Epoch 33/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3721 - accuracy: 0.8384 - val_loss: 0.2694 - val_accuracy: 0.9062
Epoch 34/100
112/112 [==============================] - 1s 7ms/step - loss: 0.3640 - accuracy: 0.8536 - val_loss: 0.2645 - val_accuracy: 0.9146
Epoch 35/100
112/112 [==============================] - 1s 6ms/step - loss: 0.3588 - accuracy: 0.8580 - val_loss: 0.2646 - val_accuracy: 0.9062
Epoch 36/100
112/112 [==============================] - 1s 6ms/step - loss: 0.3068 - accuracy: 0.8777 - val_loss: 0.2560 - val_accuracy: 0.9021
Epoch 37/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3276 - accuracy: 0.8795 - val_loss: 0.2554 - val_accuracy: 0.9042
Epoch 38/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3214 - accuracy: 0.8643 - val_loss: 0.2506 - val_accuracy: 0.9021
Epoch 39/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3006 - accuracy: 0.8830 - val_loss: 0.2359 - val_accuracy: 0.9187
Epoch 40/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3139 - accuracy: 0.8804 - val_loss: 0.2375 - val_accuracy: 0.9125
Epoch 41/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2882 - accuracy: 0.8893 - val_loss: 0.2346 - val_accuracy: 0.9125
Epoch 42/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2867 - accuracy: 0.8786 - val_loss: 0.2321 - val_accuracy: 0.9104
Epoch 43/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2807 - accuracy: 0.8821 - val_loss: 0.2216 - val_accuracy: 0.9146
Epoch 44/100
112/112 [==============================] - 1s 4ms/step - loss: 0.3107 - accuracy: 0.8723 - val_loss: 0.2336 - val_accuracy: 0.9146
Epoch 45/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2663 - accuracy: 0.9018 - val_loss: 0.2262 - val_accuracy: 0.9125
Epoch 46/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2713 - accuracy: 0.8938 - val_loss: 0.2306 - val_accuracy: 0.9042
Epoch 47/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2777 - accuracy: 0.8804 - val_loss: 0.2280 - val_accuracy: 0.9021
Epoch 48/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2568 - accuracy: 0.8884 - val_loss: 0.2212 - val_accuracy: 0.9083
Epoch 49/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2521 - accuracy: 0.9009 - val_loss: 0.2329 - val_accuracy: 0.9125
Epoch 50/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2669 - accuracy: 0.9027 - val_loss: 0.2280 - val_accuracy: 0.9083
Epoch 51/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2726 - accuracy: 0.8875 - val_loss: 0.2137 - val_accuracy: 0.9250
Epoch 52/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2645 - accuracy: 0.8920 - val_loss: 0.2209 - val_accuracy: 0.9062
Epoch 53/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2497 - accuracy: 0.9000 - val_loss: 0.2173 - val_accuracy: 0.9062
Epoch 54/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2396 - accuracy: 0.9089 - val_loss: 0.1995 - val_accuracy: 0.9146
Epoch 55/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2372 - accuracy: 0.8955 - val_loss: 0.2033 - val_accuracy: 0.9187
Epoch 56/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2398 - accuracy: 0.9054 - val_loss: 0.2169 - val_accuracy: 0.9125
Epoch 57/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2376 - accuracy: 0.9161 - val_loss: 0.2093 - val_accuracy: 0.9167
Epoch 58/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2034 - accuracy: 0.9250 - val_loss: 0.2064 - val_accuracy: 0.9187
Epoch 59/100
112/112 [==============================] - 1s 6ms/step - loss: 0.2274 - accuracy: 0.9107 - val_loss: 0.2077 - val_accuracy: 0.9187
Epoch 60/100
112/112 [==============================] - 1s 5ms/step - loss: 0.2257 - accuracy: 0.9000 - val_loss: 0.2054 - val_accuracy: 0.9167
Epoch 61/100
112/112 [==============================] - 1s 6ms/step - loss: 0.2322 - accuracy: 0.9045 - val_loss: 0.2026 - val_accuracy: 0.9167
Epoch 62/100
112/112 [==============================] - 1s 5ms/step - loss: 0.2150 - accuracy: 0.9170 - val_loss: 0.1833 - val_accuracy: 0.9375
Epoch 63/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2292 - accuracy: 0.9107 - val_loss: 0.1808 - val_accuracy: 0.9312
Epoch 64/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2133 - accuracy: 0.9071 - val_loss: 0.1821 - val_accuracy: 0.9333
Epoch 65/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1847 - accuracy: 0.9393 - val_loss: 0.1882 - val_accuracy: 0.9250
Epoch 66/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1978 - accuracy: 0.9196 - val_loss: 0.1803 - val_accuracy: 0.9250
Epoch 67/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1974 - accuracy: 0.9223 - val_loss: 0.1809 - val_accuracy: 0.9292
Epoch 68/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2021 - accuracy: 0.9250 - val_loss: 0.1841 - val_accuracy: 0.9250
Epoch 69/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2133 - accuracy: 0.9152 - val_loss: 0.1831 - val_accuracy: 0.9250
Epoch 70/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2034 - accuracy: 0.9152 - val_loss: 0.1911 - val_accuracy: 0.9146
Epoch 71/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2106 - accuracy: 0.9107 - val_loss: 0.1968 - val_accuracy: 0.9125
Epoch 72/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1615 - accuracy: 0.9393 - val_loss: 0.1814 - val_accuracy: 0.9229
Epoch 73/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1774 - accuracy: 0.9375 - val_loss: 0.1907 - val_accuracy: 0.9146
Epoch 74/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2043 - accuracy: 0.9161 - val_loss: 0.1867 - val_accuracy: 0.9208
Epoch 75/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1725 - accuracy: 0.9357 - val_loss: 0.1812 - val_accuracy: 0.9271
Epoch 76/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1998 - accuracy: 0.9223 - val_loss: 0.1867 - val_accuracy: 0.9229
Epoch 77/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1725 - accuracy: 0.9339 - val_loss: 0.1766 - val_accuracy: 0.9250
Epoch 78/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1943 - accuracy: 0.9196 - val_loss: 0.1845 - val_accuracy: 0.9208
Epoch 79/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1717 - accuracy: 0.9411 - val_loss: 0.1827 - val_accuracy: 0.9187
Epoch 80/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1376 - accuracy: 0.9491 - val_loss: 0.1987 - val_accuracy: 0.9104
Epoch 81/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1880 - accuracy: 0.9170 - val_loss: 0.1939 - val_accuracy: 0.9083
Epoch 82/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1684 - accuracy: 0.9330 - val_loss: 0.1778 - val_accuracy: 0.9208
Epoch 83/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1684 - accuracy: 0.9429 - val_loss: 0.1781 - val_accuracy: 0.9250
Epoch 84/100
112/112 [==============================] - 1s 7ms/step - loss: 0.1828 - accuracy: 0.9179 - val_loss: 0.2039 - val_accuracy: 0.9167
Epoch 85/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1867 - accuracy: 0.9268 - val_loss: 0.1797 - val_accuracy: 0.9208
Epoch 86/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1726 - accuracy: 0.9286 - val_loss: 0.1822 - val_accuracy: 0.9146
Epoch 87/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1578 - accuracy: 0.9411 - val_loss: 0.1832 - val_accuracy: 0.9229
Epoch 88/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1634 - accuracy: 0.9286 - val_loss: 0.1789 - val_accuracy: 0.9208
Epoch 89/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1657 - accuracy: 0.9384 - val_loss: 0.1893 - val_accuracy: 0.9125
Epoch 90/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1590 - accuracy: 0.9375 - val_loss: 0.1843 - val_accuracy: 0.9187
Epoch 91/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1598 - accuracy: 0.9321 - val_loss: 0.1766 - val_accuracy: 0.9292
Epoch 92/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1722 - accuracy: 0.9304 - val_loss: 0.1759 - val_accuracy: 0.9208
Epoch 93/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1383 - accuracy: 0.9491 - val_loss: 0.1856 - val_accuracy: 0.9250
Epoch 94/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1611 - accuracy: 0.9393 - val_loss: 0.1923 - val_accuracy: 0.9229
Epoch 95/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1553 - accuracy: 0.9384 - val_loss: 0.1810 - val_accuracy: 0.9333
Epoch 96/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1516 - accuracy: 0.9420 - val_loss: 0.1773 - val_accuracy: 0.9271
Epoch 97/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1905 - accuracy: 0.9179 - val_loss: 0.1978 - val_accuracy: 0.9125
Epoch 98/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1595 - accuracy: 0.9375 - val_loss: 0.1706 - val_accuracy: 0.9250
Epoch 99/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1443 - accuracy: 0.9455 - val_loss: 0.1777 - val_accuracy: 0.9229
Epoch 100/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1575 - accuracy: 0.9304 - val_loss: 0.1688 - val_accuracy: 0.9292

In [31]:
x_new = pd.read_csv('/content/Test Data for Mobile Price Prediction.csv')

In [32]:
x_new = x_new.drop('id',axis = 1)

In [33]:
x_new = ss.transform(x_new)

In [34]:
x_new

array([[-0.42924612,  1.03563452,  0.3228083 , ..., -1.77041434,
         1.01384584, -1.02532046],
       [-0.88629862,  1.03563452, -1.27055019, ...,  0.56483953,
        -0.98634324, -1.02532046],
       [ 1.2994079 ,  1.03563452,  1.54846868, ..., -1.77041434,
         1.01384584,  0.97530483],
       ...,
       [-0.10795178, -0.96559161, -0.16745585, ...,  0.56483953,
        -0.98634324, -1.02532046],
       [ 0.67944559,  1.03563452, -1.27055019, ..., -1.77041434,
         1.01384584, -1.02532046],
       [ 0.08437229,  1.03563452, -1.27055019, ...,  0.56483953,
        -0.98634324,  0.97530483]])

In [35]:
y_pred = model.predict(x_test)

13/13 [==============================] - 0s 2ms/step

In [36]:
y_pred = pd.DataFrame(y_pred)
y_pred

                0             1             2             3
0    2.944010e-26  4.888957e-18  3.296632e-02  9.670337e-01
1    9.998800e-01  1.200552e-04  2.545847e-34  1.835973e-34
2    9.797337e-06  2.325918e-02  9.758197e-01  9.112558e-04
3    1.137575e-05  1.052314e-01  8.938347e-01  9.225610e-04
4    7.742146e-23  7.200468e-16  9.393629e-02  9.060637e-01
..            ...           ...           ...           ...
395  8.134329e-03  9.918657e-01  3.921346e-09  1.732258e-10
396  7.032211e-02  9.296778e-01  8.718766e-09  5.510982e-10
397  9.999968e-01  3.177495e-06  0.000000e+00  0.000000e+00
398  3.309053e-19  2.233796e-11  9.532290e-01  4.677099e-02
399  9.303790e-01  6.962102e-02  5.935543e-17  5.969100e-18

[400 rows x 4 columns]

In [37]:
y_test

      0  1  2  3
405   0  0  0  1
1190  1  0  0  0
1132  0  0  1  0
731   0  0  1  0
1754  0  0  1  0
...  .. .. .. ..
638   0  1  0  0
360   0  1  0  0
1810  1  0  0  0
1743  0  0  1  0
563   0  1  0  0

[400 rows x 4 columns]

In [38]:
len(y_pred)

400

In [39]:
for i in range(len(y_pred)):
  y_pred.iloc[i] = np.where(y_pred.iloc[i] < max(y_pred.iloc[i]),0,1)

In [40]:
y_pred

       0    1    2    3
0    0.0  0.0  0.0  1.0
1    1.0  0.0  0.0  0.0
2    0.0  0.0  1.0  0.0
3    0.0  0.0  1.0  0.0
4    0.0  0.0  0.0  1.0
..   ...  ...  ...  ...
395  0.0  1.0  0.0  0.0
396  0.0  1.0  0.0  0.0
397  1.0  0.0  0.0  0.0
398  0.0  0.0  1.0  0.0
399  1.0  0.0  0.0  0.0

[400 rows x 4 columns]

In [41]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred , y_test)

0.9175

In [42]:
x_new_predict = model.predict(x_new)

32/32 [==============================] - 0s 1ms/step

In [43]:
x_new_predict
x_new_predict =pd.DataFrame(x_new_predict)
x_new_predict

                0             1             2             3
0    1.295020e-22  4.330131e-13  1.839735e-01  8.160266e-01
1    1.266964e-30  1.528078e-19  1.506998e-02  9.849300e-01
2    1.933852e-15  2.063967e-09  6.409188e-01  3.590812e-01
3    0.000000e+00  0.000000e+00  9.164812e-06  9.999908e-01
4    1.395257e-02  9.859553e-01  9.199294e-05  1.864809e-07
..            ...           ...           ...           ...
995  3.123833e-08  2.487357e-03  9.974893e-01  2.333835e-05
996  6.429296e-04  9.993450e-01  1.196830e-05  6.256102e-09
997  9.516633e-01  4.833677e-02  5.024137e-18  1.171797e-18
998  5.494013e-09  8.753297e-04  9.964079e-01  2.716767e-03
999  9.042803e-10  3.370463e-04  9.944208e-01  5.242114e-03

[1000 rows x 4 columns]

In [44]:
for i in range(len(x_new_predict)):
  x_new_predict.iloc[i] = np.where(x_new_predict.iloc[i] < max(x_new_predict.iloc[i]),0,1)

In [45]:
x_new_predict

       0    1    2    3
0    0.0  0.0  0.0  1.0
1    0.0  0.0  0.0  1.0
2    0.0  0.0  1.0  0.0
3    0.0  0.0  0.0  1.0
4    0.0  1.0  0.0  0.0
..   ...  ...  ...  ...
995  0.0  0.0  1.0  0.0
996  0.0  1.0  0.0  0.0
997  1.0  0.0  0.0  0.0
998  0.0  0.0  1.0  0.0
999  0.0  0.0  1.0  0.0

[1000 rows x 4 columns]

HyperParameter Tuning

In [47]:
!pip install keras_tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras_tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (2.27.1)
Collecting kt-legacy (from keras_tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (3.4)
Installing collected packages: kt-legacy, keras_tuner
Successfully installed keras_tuner-1.3.5 kt-legacy-1.0.5

In [48]:
import keras_tuner as kt

In [49]:
def build_in(hp):
  model= Sequential()
  counter =0 
  for i in range(hp.Int('num_layers' , min_value = 1, max_value = 10)):
    if counter == 0:
      model.add(Dense(units = hp.Int('units'+str(i),min_value=10 , max_value = 128 , step =1),
                activation = hp.Choice('activation'+str(i),values=['relu','tanh','sigmoid','elu','LeakyReLU']),
                kernel_initializer=hp.Choice('ki'+str(i),values = ['glorot_normal','glorot_uniform','he_uniform','he_normal']),
                input_dim =20))
      model.add(Dropout(hp.Choice('dropout'+str(i),values =[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])))
    else:
      model.add(Dense(units = hp.Int('units'+str(i),min_value=10 , max_value = 128 , step =1),
              activation = hp.Choice('activation'+str(i),values=['relu','tanh','sigmoid','elu','LeakyReLU']),
              kernel_initializer=hp.Choice('ki'+str(i),values = ['glorot_normal','glorot_uniform','he_uniform','he_normal']),
              input_dim =20))
      model.add(Dropout(hp.Choice('dropout'+str(i),values =[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])))
  model.add(Dense(units=4,activation='Softmax'))
  model.compile(optimizer=hp.Choice('optimizer',values = ['adam','rmsprop','adadelta']),loss = 'categorical_crossentropy',metrics = ['accuracy'])
  return model

In [50]:
tuner = kt.RandomSearch(build_in , objective= 'val_accuracy' , max_trials =10 , directory ='mydir' ,project_name='mobile_price_prediction')

In [51]:
tuner.search(x_train , y_train , validation_split = 0.3 ,epochs =50)

Trial 10 Complete [00h 00m 22s]
val_accuracy: 0.887499988079071

Best val_accuracy So Far: 0.918749988079071
Total elapsed time: 00h 03m 11s

In [52]:
tuner.get_best_hyperparameters()[0].values

{'num_layers': 1,
 'units0': 53,
 'activation0': 'LeakyReLU',
 'ki0': 'he_uniform',
 'dropout0': 0.3,
 'optimizer': 'adam',
 'units1': 107,
 'activation1': 'elu',
 'ki1': 'he_uniform',
 'dropout1': 0.8}

In [53]:
tune_model = tuner.get_best_models(num_models =1)[0]

In [54]:
tune_model.fit(x_train , y_train , validation_split =0.3 , epochs = 100 , batch_size =10)

Epoch 1/100
112/112 [==============================] - 2s 7ms/step - loss: 0.3370 - accuracy: 0.8750 - val_loss: 0.2960 - val_accuracy: 0.9062
Epoch 2/100
112/112 [==============================] - 1s 5ms/step - loss: 0.3093 - accuracy: 0.8848 - val_loss: 0.2835 - val_accuracy: 0.9125
Epoch 3/100
112/112 [==============================] - 1s 7ms/step - loss: 0.3086 - accuracy: 0.8884 - val_loss: 0.2771 - val_accuracy: 0.9021
Epoch 4/100
112/112 [==============================] - 0s 4ms/step - loss: 0.3099 - accuracy: 0.8884 - val_loss: 0.2651 - val_accuracy: 0.9125
Epoch 5/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2707 - accuracy: 0.9071 - val_loss: 0.2548 - val_accuracy: 0.9167
Epoch 6/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2735 - accuracy: 0.9018 - val_loss: 0.2595 - val_accuracy: 0.9083
Epoch 7/100
112/112 [==============================] - 0s 3ms/step - loss: 0.2588 - accuracy: 0.9080 - val_loss: 0.2347 - val_accuracy: 0.9333
Epoch 8/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2424 - accuracy: 0.9179 - val_loss: 0.2299 - val_accuracy: 0.9312
Epoch 9/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2414 - accuracy: 0.9214 - val_loss: 0.2304 - val_accuracy: 0.9167
Epoch 10/100
112/112 [==============================] - 1s 6ms/step - loss: 0.2359 - accuracy: 0.9098 - val_loss: 0.2200 - val_accuracy: 0.9312
Epoch 11/100
112/112 [==============================] - 0s 3ms/step - loss: 0.2387 - accuracy: 0.9089 - val_loss: 0.2238 - val_accuracy: 0.9208
Epoch 12/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2216 - accuracy: 0.9286 - val_loss: 0.2160 - val_accuracy: 0.9208
Epoch 13/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2308 - accuracy: 0.9071 - val_loss: 0.2097 - val_accuracy: 0.9187
Epoch 14/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2056 - accuracy: 0.9286 - val_loss: 0.2059 - val_accuracy: 0.9312
Epoch 15/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2013 - accuracy: 0.9312 - val_loss: 0.1992 - val_accuracy: 0.9312
Epoch 16/100
112/112 [==============================] - 0s 4ms/step - loss: 0.2050 - accuracy: 0.9205 - val_loss: 0.1955 - val_accuracy: 0.9271
Epoch 17/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1987 - accuracy: 0.9250 - val_loss: 0.1956 - val_accuracy: 0.9292
Epoch 18/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1901 - accuracy: 0.9393 - val_loss: 0.1923 - val_accuracy: 0.9333
Epoch 19/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1963 - accuracy: 0.9295 - val_loss: 0.1893 - val_accuracy: 0.9333
Epoch 20/100
112/112 [==============================] - 0s 3ms/step - loss: 0.1866 - accuracy: 0.9375 - val_loss: 0.1956 - val_accuracy: 0.9271
Epoch 21/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1856 - accuracy: 0.9375 - val_loss: 0.1884 - val_accuracy: 0.9292
Epoch 22/100
112/112 [==============================] - 0s 3ms/step - loss: 0.1762 - accuracy: 0.9411 - val_loss: 0.1854 - val_accuracy: 0.9250
Epoch 23/100
112/112 [==============================] - 0s 3ms/step - loss: 0.1744 - accuracy: 0.9357 - val_loss: 0.1794 - val_accuracy: 0.9354
Epoch 24/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1641 - accuracy: 0.9500 - val_loss: 0.1752 - val_accuracy: 0.9375
Epoch 25/100
112/112 [==============================] - 1s 7ms/step - loss: 0.1504 - accuracy: 0.9563 - val_loss: 0.1739 - val_accuracy: 0.9312
Epoch 26/100
112/112 [==============================] - 1s 10ms/step - loss: 0.1810 - accuracy: 0.9384 - val_loss: 0.1771 - val_accuracy: 0.9292
Epoch 27/100
112/112 [==============================] - 1s 10ms/step - loss: 0.1641 - accuracy: 0.9411 - val_loss: 0.1744 - val_accuracy: 0.9312
Epoch 28/100
112/112 [==============================] - 1s 9ms/step - loss: 0.1671 - accuracy: 0.9339 - val_loss: 0.1734 - val_accuracy: 0.9312
Epoch 29/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1691 - accuracy: 0.9366 - val_loss: 0.1719 - val_accuracy: 0.9312
Epoch 30/100
112/112 [==============================] - 1s 8ms/step - loss: 0.1480 - accuracy: 0.9509 - val_loss: 0.1667 - val_accuracy: 0.9354
Epoch 31/100
112/112 [==============================] - 1s 8ms/step - loss: 0.1525 - accuracy: 0.9491 - val_loss: 0.1684 - val_accuracy: 0.9312
Epoch 32/100
112/112 [==============================] - 1s 7ms/step - loss: 0.1468 - accuracy: 0.9491 - val_loss: 0.1654 - val_accuracy: 0.9312
Epoch 33/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1523 - accuracy: 0.9429 - val_loss: 0.1664 - val_accuracy: 0.9333
Epoch 34/100
112/112 [==============================] - 1s 7ms/step - loss: 0.1552 - accuracy: 0.9500 - val_loss: 0.1611 - val_accuracy: 0.9396
Epoch 35/100
112/112 [==============================] - 1s 7ms/step - loss: 0.1385 - accuracy: 0.9536 - val_loss: 0.1621 - val_accuracy: 0.9354
Epoch 36/100
112/112 [==============================] - 1s 7ms/step - loss: 0.1493 - accuracy: 0.9482 - val_loss: 0.1617 - val_accuracy: 0.9354
Epoch 37/100
112/112 [==============================] - 1s 9ms/step - loss: 0.1306 - accuracy: 0.9500 - val_loss: 0.1561 - val_accuracy: 0.9375
Epoch 38/100
112/112 [==============================] - 1s 10ms/step - loss: 0.1326 - accuracy: 0.9580 - val_loss: 0.1566 - val_accuracy: 0.9333
Epoch 39/100
112/112 [==============================] - 1s 10ms/step - loss: 0.1377 - accuracy: 0.9482 - val_loss: 0.1592 - val_accuracy: 0.9312
Epoch 40/100
112/112 [==============================] - 2s 14ms/step - loss: 0.1415 - accuracy: 0.9420 - val_loss: 0.1537 - val_accuracy: 0.9438
Epoch 41/100
112/112 [==============================] - 1s 10ms/step - loss: 0.1293 - accuracy: 0.9482 - val_loss: 0.1512 - val_accuracy: 0.9417
Epoch 42/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1269 - accuracy: 0.9554 - val_loss: 0.1470 - val_accuracy: 0.9458
Epoch 43/100
112/112 [==============================] - 1s 7ms/step - loss: 0.1271 - accuracy: 0.9536 - val_loss: 0.1450 - val_accuracy: 0.9458
Epoch 44/100
112/112 [==============================] - 1s 8ms/step - loss: 0.1230 - accuracy: 0.9598 - val_loss: 0.1529 - val_accuracy: 0.9312
Epoch 45/100
112/112 [==============================] - 1s 7ms/step - loss: 0.1187 - accuracy: 0.9616 - val_loss: 0.1475 - val_accuracy: 0.9396
Epoch 46/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1292 - accuracy: 0.9536 - val_loss: 0.1472 - val_accuracy: 0.9417
Epoch 47/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1206 - accuracy: 0.9491 - val_loss: 0.1509 - val_accuracy: 0.9354
Epoch 48/100
112/112 [==============================] - 1s 8ms/step - loss: 0.1164 - accuracy: 0.9589 - val_loss: 0.1486 - val_accuracy: 0.9417
Epoch 49/100
112/112 [==============================] - 1s 8ms/step - loss: 0.1025 - accuracy: 0.9705 - val_loss: 0.1486 - val_accuracy: 0.9438
Epoch 50/100
112/112 [==============================] - 0s 3ms/step - loss: 0.1191 - accuracy: 0.9589 - val_loss: 0.1467 - val_accuracy: 0.9354
Epoch 51/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1134 - accuracy: 0.9625 - val_loss: 0.1467 - val_accuracy: 0.9396
Epoch 52/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1083 - accuracy: 0.9696 - val_loss: 0.1438 - val_accuracy: 0.9458
Epoch 53/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1015 - accuracy: 0.9679 - val_loss: 0.1417 - val_accuracy: 0.9438
Epoch 54/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1197 - accuracy: 0.9571 - val_loss: 0.1397 - val_accuracy: 0.9479
Epoch 55/100
112/112 [==============================] - 0s 3ms/step - loss: 0.0984 - accuracy: 0.9679 - val_loss: 0.1385 - val_accuracy: 0.9458
Epoch 56/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1005 - accuracy: 0.9705 - val_loss: 0.1416 - val_accuracy: 0.9375
Epoch 57/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1095 - accuracy: 0.9563 - val_loss: 0.1485 - val_accuracy: 0.9250
Epoch 58/100
112/112 [==============================] - 1s 5ms/step - loss: 0.1176 - accuracy: 0.9554 - val_loss: 0.1454 - val_accuracy: 0.9375
Epoch 59/100
112/112 [==============================] - 1s 6ms/step - loss: 0.1109 - accuracy: 0.9616 - val_loss: 0.1472 - val_accuracy: 0.9354
Epoch 60/100
112/112 [==============================] - 1s 6ms/step - loss: 0.0998 - accuracy: 0.9679 - val_loss: 0.1396 - val_accuracy: 0.9438
Epoch 61/100
112/112 [==============================] - 1s 6ms/step - loss: 0.0995 - accuracy: 0.9688 - val_loss: 0.1379 - val_accuracy: 0.9438
Epoch 62/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1089 - accuracy: 0.9598 - val_loss: 0.1403 - val_accuracy: 0.9417
Epoch 63/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0942 - accuracy: 0.9643 - val_loss: 0.1365 - val_accuracy: 0.9417
Epoch 64/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0870 - accuracy: 0.9652 - val_loss: 0.1364 - val_accuracy: 0.9500
Epoch 65/100
112/112 [==============================] - 0s 3ms/step - loss: 0.0840 - accuracy: 0.9759 - val_loss: 0.1360 - val_accuracy: 0.9417
Epoch 66/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0927 - accuracy: 0.9625 - val_loss: 0.1329 - val_accuracy: 0.9396
Epoch 67/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0964 - accuracy: 0.9688 - val_loss: 0.1350 - val_accuracy: 0.9375
Epoch 68/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0940 - accuracy: 0.9688 - val_loss: 0.1361 - val_accuracy: 0.9479
Epoch 69/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0892 - accuracy: 0.9732 - val_loss: 0.1316 - val_accuracy: 0.9417
Epoch 70/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0939 - accuracy: 0.9652 - val_loss: 0.1293 - val_accuracy: 0.9354
Epoch 71/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0925 - accuracy: 0.9643 - val_loss: 0.1337 - val_accuracy: 0.9417
Epoch 72/100
112/112 [==============================] - 0s 4ms/step - loss: 0.1052 - accuracy: 0.9634 - val_loss: 0.1286 - val_accuracy: 0.9354
Epoch 73/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0803 - accuracy: 0.9714 - val_loss: 0.1311 - val_accuracy: 0.9458
Epoch 74/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0861 - accuracy: 0.9741 - val_loss: 0.1257 - val_accuracy: 0.9417
Epoch 75/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0919 - accuracy: 0.9696 - val_loss: 0.1321 - val_accuracy: 0.9458
Epoch 76/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0831 - accuracy: 0.9741 - val_loss: 0.1255 - val_accuracy: 0.9438
Epoch 77/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0897 - accuracy: 0.9741 - val_loss: 0.1302 - val_accuracy: 0.9458
Epoch 78/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0760 - accuracy: 0.9741 - val_loss: 0.1302 - val_accuracy: 0.9500
Epoch 79/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0822 - accuracy: 0.9670 - val_loss: 0.1330 - val_accuracy: 0.9396
Epoch 80/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0724 - accuracy: 0.9812 - val_loss: 0.1287 - val_accuracy: 0.9417
Epoch 81/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0897 - accuracy: 0.9661 - val_loss: 0.1260 - val_accuracy: 0.9479
Epoch 82/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0773 - accuracy: 0.9759 - val_loss: 0.1268 - val_accuracy: 0.9479
Epoch 83/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0904 - accuracy: 0.9625 - val_loss: 0.1208 - val_accuracy: 0.9500
Epoch 84/100
112/112 [==============================] - 1s 6ms/step - loss: 0.0745 - accuracy: 0.9732 - val_loss: 0.1199 - val_accuracy: 0.9500
Epoch 85/100
112/112 [==============================] - 1s 7ms/step - loss: 0.0839 - accuracy: 0.9670 - val_loss: 0.1236 - val_accuracy: 0.9479
Epoch 86/100
112/112 [==============================] - 1s 7ms/step - loss: 0.0770 - accuracy: 0.9679 - val_loss: 0.1267 - val_accuracy: 0.9417
Epoch 87/100
112/112 [==============================] - 1s 6ms/step - loss: 0.0856 - accuracy: 0.9705 - val_loss: 0.1268 - val_accuracy: 0.9521
Epoch 88/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0729 - accuracy: 0.9741 - val_loss: 0.1116 - val_accuracy: 0.9583
Epoch 89/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0769 - accuracy: 0.9768 - val_loss: 0.1249 - val_accuracy: 0.9500
Epoch 90/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0875 - accuracy: 0.9705 - val_loss: 0.1247 - val_accuracy: 0.9417
Epoch 91/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0741 - accuracy: 0.9777 - val_loss: 0.1282 - val_accuracy: 0.9458
Epoch 92/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0675 - accuracy: 0.9786 - val_loss: 0.1245 - val_accuracy: 0.9563
Epoch 93/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0799 - accuracy: 0.9688 - val_loss: 0.1233 - val_accuracy: 0.9396
Epoch 94/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0830 - accuracy: 0.9723 - val_loss: 0.1228 - val_accuracy: 0.9479
Epoch 95/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0740 - accuracy: 0.9696 - val_loss: 0.1184 - val_accuracy: 0.9438
Epoch 96/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0780 - accuracy: 0.9732 - val_loss: 0.1150 - val_accuracy: 0.9479
Epoch 97/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0655 - accuracy: 0.9786 - val_loss: 0.1217 - val_accuracy: 0.9521
Epoch 98/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0641 - accuracy: 0.9777 - val_loss: 0.1200 - val_accuracy: 0.9542
Epoch 99/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0669 - accuracy: 0.9821 - val_loss: 0.1191 - val_accuracy: 0.9479
Epoch 100/100
112/112 [==============================] - 0s 4ms/step - loss: 0.0678 - accuracy: 0.9759 - val_loss: 0.1291 - val_accuracy: 0.9521

In [55]:
tuner.results_summary()

Results summary
Results in mydir/mobile_price_prediction
Showing 10 best trials
Objective(name="val_accuracy", direction="max")

Trial 01 summary
Hyperparameters:
num_layers: 1
units0: 53
activation0: LeakyReLU
ki0: he_uniform
dropout0: 0.3
optimizer: adam
units1: 107
activation1: elu
ki1: he_uniform
dropout1: 0.8
Score: 0.918749988079071

Trial 03 summary
Hyperparameters:
num_layers: 4
units0: 70
activation0: LeakyReLU
ki0: he_normal
dropout0: 0.1
optimizer: rmsprop
units1: 121
activation1: tanh
ki1: glorot_normal
dropout1: 0.1
units2: 62
activation2: LeakyReLU
ki2: glorot_normal
dropout2: 0.6
units3: 110
activation3: elu
ki3: he_normal
dropout3: 0.1
units4: 87
activation4: elu
ki4: he_uniform
dropout4: 0.4
units5: 108
activation5: relu
ki5: he_uniform
dropout5: 0.8
Score: 0.918749988079071

Trial 04 summary
Hyperparameters:
num_layers: 9
units0: 121
activation0: tanh
ki0: he_normal
dropout0: 0.4
optimizer: adam
units1: 107
activation1: elu
ki1: he_normal
dropout1: 0.7
units2: 111
activation2: elu
ki2: glorot_uniform
dropout2: 0.1
units3: 74
activation3: elu
ki3: glorot_normal
dropout3: 0.1
units4: 34
activation4: elu
ki4: glorot_normal
dropout4: 0.3
units5: 92
activation5: relu
ki5: glorot_uniform
dropout5: 0.6
units6: 10
activation6: relu
ki6: glorot_normal
dropout6: 0.1
units7: 10
activation7: relu
ki7: glorot_normal
dropout7: 0.1
units8: 10
activation8: relu
ki8: glorot_normal
dropout8: 0.1
Score: 0.918749988079071

Trial 00 summary
Hyperparameters:
num_layers: 2
units0: 118
activation0: elu
ki0: he_normal
dropout0: 0.5
optimizer: adam
units1: 10
activation1: relu
ki1: glorot_normal
dropout1: 0.1
Score: 0.9083333611488342

Trial 09 summary
Hyperparameters:
num_layers: 5
units0: 109
activation0: elu
ki0: he_uniform
dropout0: 0.1
optimizer: adam
units1: 107
activation1: tanh
ki1: he_uniform
dropout1: 0.6
units2: 74
activation2: tanh
ki2: glorot_uniform
dropout2: 0.7
units3: 58
activation3: tanh
ki3: he_normal
dropout3: 0.1
units4: 36
activation4: tanh
ki4: glorot_normal
dropout4: 0.1
units5: 41
activation5: elu
ki5: he_normal
dropout5: 0.4
units6: 76
activation6: tanh
ki6: glorot_normal
dropout6: 0.3
units7: 83
activation7: sigmoid
ki7: he_uniform
dropout7: 0.6
units8: 47
activation8: LeakyReLU
ki8: glorot_normal
dropout8: 0.6
units9: 87
activation9: relu
ki9: he_uniform
dropout9: 0.4
Score: 0.887499988079071

Trial 05 summary
Hyperparameters:
num_layers: 6
units0: 111
activation0: tanh
ki0: he_normal
dropout0: 0.8
optimizer: rmsprop
units1: 38
activation1: elu
ki1: he_normal
dropout1: 0.6
units2: 71
activation2: elu
ki2: glorot_uniform
dropout2: 0.2
units3: 86
activation3: tanh
ki3: he_normal
dropout3: 0.9
units4: 119
activation4: elu
ki4: he_uniform
dropout4: 0.3
units5: 61
activation5: sigmoid
ki5: he_uniform
dropout5: 0.5
units6: 83
activation6: relu
ki6: he_normal
dropout6: 0.4
units7: 89
activation7: relu
ki7: he_uniform
dropout7: 0.9
units8: 85
activation8: elu
ki8: glorot_normal
dropout8: 0.2
Score: 0.5375000238418579

Trial 02 summary
Hyperparameters:
num_layers: 6
units0: 63
activation0: tanh
ki0: glorot_normal
dropout0: 0.2
optimizer: adadelta
units1: 116
activation1: tanh
ki1: glorot_normal
dropout1: 0.4
units2: 10
activation2: relu
ki2: glorot_normal
dropout2: 0.1
units3: 10
activation3: relu
ki3: glorot_normal
dropout3: 0.1
units4: 10
activation4: relu
ki4: glorot_normal
dropout4: 0.1
units5: 10
activation5: relu
ki5: glorot_normal
dropout5: 0.1
Score: 0.28125

Trial 07 summary
Hyperparameters:
num_layers: 6
units0: 57
activation0: sigmoid
ki0: glorot_uniform
dropout0: 0.2
optimizer: adam
units1: 33
activation1: relu
ki1: glorot_normal
dropout1: 0.4
units2: 10
activation2: sigmoid
ki2: he_normal
dropout2: 0.9
units3: 24
activation3: elu
ki3: glorot_uniform
dropout3: 0.9
units4: 122
activation4: relu
ki4: he_uniform
dropout4: 0.2
units5: 118
activation5: tanh
ki5: he_normal
dropout5: 0.9
units6: 46
activation6: elu
ki6: he_uniform
dropout6: 0.5
units7: 77
activation7: elu
ki7: glorot_uniform
dropout7: 0.8
units8: 124
activation8: relu
ki8: glorot_uniform
dropout8: 0.5
units9: 11
activation9: relu
ki9: he_normal
dropout9: 0.6
Score: 0.25

Trial 06 summary
Hyperparameters:
num_layers: 10
units0: 34
activation0: relu
ki0: he_normal
dropout0: 0.2
optimizer: rmsprop
units1: 107
activation1: relu
ki1: he_uniform
dropout1: 0.8
units2: 69
activation2: tanh
ki2: he_uniform
dropout2: 0.1
units3: 56
activation3: elu
ki3: glorot_normal
dropout3: 0.1
units4: 97
activation4: relu
ki4: he_normal
dropout4: 0.1
units5: 40
activation5: tanh
ki5: he_normal
dropout5: 0.9
units6: 119
activation6: sigmoid
ki6: he_normal
dropout6: 0.9
units7: 49
activation7: tanh
ki7: he_normal
dropout7: 0.9
units8: 21
activation8: sigmoid
ki8: glorot_uniform
dropout8: 0.9
units9: 10
activation9: relu
ki9: glorot_normal
dropout9: 0.1
Score: 0.24791666865348816

Trial 08 summary
Hyperparameters:
num_layers: 7
units0: 48
activation0: tanh
ki0: he_normal
dropout0: 0.3
optimizer: adadelta
units1: 118
activation1: tanh
ki1: glorot_normal
dropout1: 0.4
units2: 107
activation2: sigmoid
ki2: he_uniform
dropout2: 0.6
units3: 22
activation3: tanh
ki3: glorot_normal
dropout3: 0.2
units4: 51
activation4: sigmoid
ki4: he_uniform
dropout4: 0.6
units5: 36
activation5: tanh
ki5: he_uniform
dropout5: 0.2
units6: 116
activation6: LeakyReLU
ki6: he_uniform
dropout6: 0.9
units7: 68
activation7: LeakyReLU
ki7: glorot_normal
dropout7: 0.5
units8: 39
activation8: sigmoid
ki8: glorot_normal
dropout8: 0.8
units9: 58
activation9: LeakyReLU
ki9: he_normal
dropout9: 0.1
Score: 0.24583333730697632

In [56]:
y_predict_tune_model = tune_model.predict(x_test)

13/13 [==============================] - 0s 2ms/step

In [57]:
y_predict_tune_model = pd.DataFrame(y_predict_tune_model)

In [58]:
for i in range(len(y_predict_tune_model)):
  y_predict_tune_model.iloc[i] = np.where(y_predict_tune_model.iloc[i]<max(y_predict_tune_model.iloc[i]),0,1)

In [59]:
y_predict_tune_model

       0    1    2    3
0    0.0  0.0  0.0  1.0
1    1.0  0.0  0.0  0.0
2    0.0  0.0  1.0  0.0
3    0.0  0.0  1.0  0.0
4    0.0  0.0  0.0  1.0
..   ...  ...  ...  ...
395  0.0  1.0  0.0  0.0
396  0.0  1.0  0.0  0.0
397  1.0  0.0  0.0  0.0
398  0.0  0.0  1.0  0.0
399  1.0  0.0  0.0  0.0

[400 rows x 4 columns]

In [60]:
y_test

      0  1  2  3
405   0  0  0  1
1190  1  0  0  0
1132  0  0  1  0
731   0  0  1  0
1754  0  0  1  0
...  .. .. .. ..
638   0  1  0  0
360   0  1  0  0
1810  1  0  0  0
1743  0  0  1  0
563   0  1  0  0

[400 rows x 4 columns]

In [61]:
accuracy_score(y_predict_tune_model , y_test)

0.95

In [62]:
x_new

array([[-0.42924612,  1.03563452,  0.3228083 , ..., -1.77041434,
         1.01384584, -1.02532046],
       [-0.88629862,  1.03563452, -1.27055019, ...,  0.56483953,
        -0.98634324, -1.02532046],
       [ 1.2994079 ,  1.03563452,  1.54846868, ..., -1.77041434,
         1.01384584,  0.97530483],
       ...,
       [-0.10795178, -0.96559161, -0.16745585, ...,  0.56483953,
        -0.98634324, -1.02532046],
       [ 0.67944559,  1.03563452, -1.27055019, ..., -1.77041434,
         1.01384584, -1.02532046],
       [ 0.08437229,  1.03563452, -1.27055019, ...,  0.56483953,
        -0.98634324,  0.97530483]])

In [63]:
x_new_predict_final = tune_model.predict(x_new)

32/32 [==============================] - 0s 1ms/step

In [64]:
x_new_predict_final = pd.DataFrame(x_new_predict_final)
for i in range(len(x_new_predict_final)):
  x_new_predict_final.iloc[i] = np.where(x_new_predict_final.iloc[i]<max(x_new_predict_final.iloc[i]),0,1)

In [65]:
x_new_predict_final

       0    1    2    3
0    0.0  0.0  0.0  1.0
1    0.0  0.0  0.0  1.0
2    0.0  0.0  1.0  0.0
3    0.0  0.0  0.0  1.0
4    0.0  1.0  0.0  0.0
..   ...  ...  ...  ...
995  0.0  0.0  1.0  0.0
996  0.0  1.0  0.0  0.0
997  0.0  1.0  0.0  0.0
998  0.0  0.0  1.0  0.0
999  0.0  0.0  1.0  0.0

[1000 rows x 4 columns]

In [66]:
x_new_data = pd.read_csv('/content/Test Data for Mobile Price Prediction.csv')

In [67]:
x_new_data = x_new_data.iloc[:,1:]

In [68]:
x_new_data

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1043,1,1.8,1,14,0,5,0.1,193,3,16,226,1412,3476,12,7,2,0,1,0
1,841,1,0.5,1,4,1,61,0.8,191,5,12,746,857,3895,6,0,7,1,0,0
2,1807,1,2.8,0,1,0,27,0.9,186,3,4,1270,1366,2396,17,10,10,0,1,1
3,1546,0,0.5,1,18,1,25,0.5,96,8,20,295,1752,3893,10,0,7,1,1,0
4,1434,0,1.4,0,11,1,49,0.5,108,6,18,749,810,1773,15,8,7,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1700,1,1.9,0,0,1,54,0.5,170,7,17,644,913,2121,14,8,15,1,1,0
996,609,0,1.8,1,0,0,13,0.9,186,4,2,1152,1632,1933,8,1,19,0,1,1
997,1185,0,1.4,0,1,1,8,0.5,80,1,12,477,825,1223,5,0,14,1,0,0
998,1533,1,0.5,1,0,0,50,0.4,171,2,12,38,832,2509,15,11,6,0,1,0
999,1270,1,0.5,0,4,1,35,0.1,140,6,19,457,608,2828,9,2,3,1,0,1

In [69]:
final_predicted_data = pd.concat([x_new_data,x_new_predict_final],axis =1)
final_predicted_data

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,0,1,2,3
0,1043,1,1.8,1,14,0,5,0.1,193,3,...,12,7,2,0,1,0,0.0,0.0,0.0,1.0
1,841,1,0.5,1,4,1,61,0.8,191,5,...,6,0,7,1,0,0,0.0,0.0,0.0,1.0
2,1807,1,2.8,0,1,0,27,0.9,186,3,...,17,10,10,0,1,1,0.0,0.0,1.0,0.0
3,1546,0,0.5,1,18,1,25,0.5,96,8,...,10,0,7,1,1,0,0.0,0.0,0.0,1.0
4,1434,0,1.4,0,11,1,49,0.5,108,6,...,15,8,7,1,0,1,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1700,1,1.9,0,0,1,54,0.5,170,7,...,14,8,15,1,1,0,0.0,0.0,1.0,0.0
996,609,0,1.8,1,0,0,13,0.9,186,4,...,8,1,19,0,1,1,0.0,1.0,0.0,0.0
997,1185,0,1.4,0,1,1,8,0.5,80,1,...,5,0,14,1,0,0,0.0,1.0,0.0,0.0
998,1533,1,0.5,1,0,0,50,0.4,171,2,...,15,11,6,0,1,0,0.0,0.0,1.0,0.0
999,1270,1,0.5,0,4,1,35,0.1,140,6,...,9,2,3,1,0,1,0.0,0.0,1.0,0.0

In [70]:
''' EXPLANATION OF OUTPUT LABLE :
   0-------> Cheap Price
   1-------> Medium Price
   2-------> Costly
   3-------> Premium 
   '''

' EXPLANATION OF OUTPUT LABLE :\n   0-------> Cheap Price\n   1-------> Medium Price\n   2-------> Costly\n   3-------> Premium \n   '

Importing pickle file of final model

In [72]:
import pickle
with open('tune_model.pkl','wb') as file:
  pickle.dump(tune_model,file)